In [1]:
import pandas as pd
from tabula import read_pdf
import tabula
import re

In [2]:
pdf = '190923_1000_Transit.pdf'
page = 385

In [3]:
df = tabula.read_pdf(pdf, pages=page)

# df_revision = df.copy()
df_null = df.isna()

df.replace(to_replace=[r"\\t|\\n|\\r", "\t|\n|\r"], value=[" "," "], regex=True, inplace=True)

In [4]:
df

,Unnamed: 0,Unnamed: 1,2ND QUARTER 2019 ENTRAPMENT FINDINGS,Unnamed: 3
0,Borough/ Unit,Location,# of Comments,NaN
1,NaN,NaN,Entrapments,NaN
2,BRONX,NaN,NaN,NaN
3,EL121,Pelham Bay Park 6,1 The entrapment that occurred on 4/9/19 was t...,NaN
4,NaN,NaN,The doors were inspected and tested. The fault...,NaN
5,NaN,NaN,tested and returned to service.,NaN
6,EL122,Pelham Bay Park 6,2 The entrapment that occurred on 4/15/19 was ...,NaN
7,NaN,NaN,the doors from closing correctly. The purse wa...,NaN
8,NaN,NaN,returned to service. The entrapment that occur...,NaN
9,NaN,NaN,door sill in the top landing. The debris was r...,NaN
10,NaN,NaN,to service.,NaN
11,EL127,Simpson St 25,2 The entrapment that occurred on 6/15/19 was ...,NaN
12,NaN,NaN,sill. The paper cup was removed; the elevator ...,NaN
13,NaN,NaN,entrapment that occurred on 6/23/19 was the re...,NaN
14,NaN,NaN,that prevented the doors from opening. The deb...,NaN
15,NaN,NaN,and returned to service.,NaN
16,EL128,Simpson St 25,1 The entrapment that occurred on 4/16/19 was ...,NaN
17,NaN,NaN,"The doors were tested, but the fault could not...",NaN
18,NaN,NaN,returned to service.,NaN
19,EL129,3 Av-149 St 25,2 The entrapment that occurred on 4/11/19 was ...,NaN
20,NaN,NaN,correctly. The hoistway door tracks were adjus...,NaN
21,NaN,NaN,hoistway door gib were replaced and the interl...,NaN
22,NaN,NaN,tested and returned to service. The entrapment...,NaN
23,NaN,NaN,the valve body screens being clogged. The scre...,NaN
24,NaN,NaN,and returned to service.,NaN
25,EL130,3 Av-149 St 25,3 The entrapment that occurred on 4/8/19 was t...,NaN
26,NaN,NaN,"The car door restrictor was adjusted, and the ...",NaN
27,NaN,NaN,overheating. The elevator was tested and retur...,NaN
28,NaN,NaN,occurred on 4/17/19 was the result of the cont...,NaN
29,NaN,NaN,"door relay identified as ""DRX"" was replaced. T...",NaN
...,...,...,...,...
45,NaN,NaN,"The car gate switch was secured, and various d...",NaN
46,NaN,NaN,controller. The elevator was tested and return...,NaN
47,NaN,NaN,on 5/6/19 was the result of a safety circuit o...,NaN
48,NaN,NaN,could not be duplicated; the elevator was test...,NaN
49,NaN,NaN,that occurred on 5/6/19 was the result of the ...,NaN
50,NaN,NaN,body was adjusted and the uninterrupted power ...,NaN
51,NaN,NaN,was tested and returned to service. the entrap...,NaN
52,NaN,NaN,of a glass panel switch relay not operating co...,NaN
53,NaN,NaN,replaced; the elevator was tested and returned...,NaN
54,EL189,Kingsbridge Rd BD,1 The entrapment that occurred on 5/24/19 was ...,NaN
55,NaN,NaN,landing not operating correctly. The upper lan...,NaN
56,NaN,NaN,elevator was tested and returned to service.,NaN
57,EL192,233 St 25,2 The entrapment that occurred on 4/8/19 was t...,NaN
58,NaN,NaN,due to a defective hoistway door contact that ...,NaN
59,NaN,NaN,hoistway door contact was replaced and adjuste...,NaN
60,NaN,NaN,service. The entrapment that occurred on 4/10/...,NaN
61,NaN,NaN,closing correctly. The door operator cam was a...,NaN
62,NaN,NaN,returned to service.,NaN
63,EL193,233 St 25,1 The entrapment that occurred on 4/3/19 was t...,NaN
64,NaN,NaN,sill that prevented the doors from operating c...,NaN
65,NaN,NaN,was tested and returned to service.,NaN
66,EL195,Hunts Point Av 6,4 The cause of two entrapment that occurred on...,NaN
67,NaN,NaN,determined. The elevator was tested and return...,NaN
68,NaN,NaN,on 5/20/19 was the result of the door zone in ...,NaN
69,NaN,NaN,did not allow the doors to open. The door zone...,NaN
70,NaN,NaN,elevator was tested and returned to service. T...,NaN
71,NaN,NaN,the result of the doors not opening. The fault...,NaN
72,NaN,NaN,tested and returned to service.,NaN
73,EL197,Hunts Point Av 6,1 The cause of the entrapment that occurred on...,could not be determined. The
74,NaN,NaN,elevator was tested and returned to service.,NaN

In [8]:
df['Unnamed: 3'].head()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: Unnamed: 3, dtype: object

In [7]:
df_null.head()

   Unnamed: 0  Unnamed: 1  2ND QUARTER 2019 ENTRAPMENT FINDINGS  Unnamed: 3
0       False       False                                 False        True
1        True        True                                 False        True
2       False        True                                  True        True
3       False       False                                 False        True
4        True        True                                 False        True

In [9]:
type(df[df.columns[0]][1])

float

## Find Units

In [131]:
units = []
for i in range(len(df)):
    if re.match(string = str(df[df.columns[0]][i]), pattern = r'E[SL]\d{3}'):
        units.append(df[df.columns[0]][i])
units

['EL121',
 'EL122',
 'EL127',
 'EL128',
 'EL129',
 'EL130',
 'EL132',
 'EL136',
 'EL183',
 'EL188',
 'EL189',
 'EL192',
 'EL193',
 'EL195',
 'EL197']

## Find Subway Stations

In [133]:
stations = []
for i in range(len(df)):
    if type(df[df.columns[1]][i]) is not float:
        if len(df[df.columns[1]][i].split(' ')[:-1]) > 0:
            stations.append(' '.join(df[df.columns[1]][i].split(' ')[:-1]))
stations

['Pelham Bay Park',
 'Pelham Bay Park',
 'Simpson St',
 'Simpson St',
 '3 Av-149 St',
 '3 Av-149 St',
 '161 St-Yankee Stadium',
 'Pelham Pkwy',
 'Gun Hill Rd',
 'Fordham Rd',
 'Kingsbridge Rd',
 '233 St',
 '233 St',
 'Hunts Point Av',
 'Hunts Point Av']

## Find Subway Lines

In [134]:
lines = []
for i in range(len(df)):
#     if type(df[df.columns[1]][i]) is not float and re.match(string = str(df[df.columns[1]][i]).split(' ')[-1], pattern = r'[ABCDEFGJLMNRQWZ1-7]') and re.match(string = str(df[df.columns[1]][i]).split(' ')[-1], pattern = r'^((?!Location).)*$'):
    if type(df[df.columns[1]][i]) is not float and re.match(string = str(df[df.columns[1]][i]).split(' ')[-1], pattern = r'[ABCDEFGJLMNRQWZ1-7]') and re.match(string = str(df[df.columns[1]][i]).split(' ')[-1], pattern = r'^((?![A-Z][a-z]).)*$'):
        lines.append(' '.join(df[df.columns[1]][i].split(' ')[-1:]))
lines

['6',
 '6',
 '25',
 '25',
 '25',
 '25',
 '4',
 '25',
 '25',
 '4',
 'BD',
 '25',
 '25',
 '6',
 '6']

## Find the Number of Entrapments

In [136]:
entrapments = []
for i in range(len(df)):
    if type(df[df.columns[2]][i]) is not float and re.match(string = str(df[df.columns[2]][i]).split(' ')[0], pattern = r'[0-9]'):
        entrapments.append(' '.join(df[df.columns[2]][i].split(' ')[0]))
entrapments

['1', '2', '2', '1', '2', '3', '1', '1', '2', '4', '1', '2', '1', '4', '1']

## Find Entrapment Details

In [84]:
entrapment_list_text = []
for i in range(len(df)):
    if re.match(string = str(df[df.columns[2]][i]), pattern = r'^((?!Entrapments|#  of Comments).)*$') and type(df[df.columns[2]][i]) is not float:
        if type(df[df.columns[3]][i]) is not float:
            if re.match(string = str(df[df.columns[2]][i]).split(' ')[0], pattern = r'[0-9]'):
                entrapment_list_text.append(df[df.columns[2]][i] + ' ' + df[df.columns[3]][i])
            if re.match(string = str(df[df.columns[2]][i]).split(' ')[0], pattern = r'[^0-9]'):
                entrapment_list_text.append(df[df.columns[2]][i] + ' ' + df[df.columns[3]][i])
        else:
            if re.match(string = str(df[df.columns[2]][i]).split(' ')[0], pattern = r'[0-9]'):
                entrapment_list_text.append(df[df.columns[2]][i])
            if re.match(string = str(df[df.columns[2]][i]).split(' ')[0], pattern = r'[^0-9]'):
                entrapment_list_text.append(df[df.columns[2]][i])

In [137]:
entrapment_detail = []
entrapment_text = ''
for i in range(len(entrapment_list_text)):
    if re.match(string = str(entrapment_list_text[i]), pattern = r'^[0-9]\ '):
        if len(entrapment_text) == 0:
            entrapment_text += entrapment_list_text[i][2:]
        else:
            entrapment_detail.append(entrapment_text)
            entrapment_text = ''
            entrapment_text += entrapment_list_text[i][2:]
#         print('starts with number ' + str(len(entrapment_text)))
    if re.match(string = str(entrapment_list_text[i]).split(' ')[0], pattern = r'[^0-9]'):
        entrapment_text += ' ' + entrapment_list_text[i]
#         print("doesn't start with number " + str(len(entrapment_text)))
    if i == (len(entrapment_list_text) - 1):
        entrapment_detail.append(entrapment_text)
#         print("the end " + str(len(entrapment_text)))
entrapment_detail

['The entrapment that occurred on 4/9/19 was the result of the doors not operating correctly. The doors were inspected and tested. The fault could not be duplicated; the elevator was tested and returned to service.',
 "The entrapment that occurred on 4/15/19 was the result of a customer's purse preventing the doors from closing correctly. The purse was removed; the elevator was tested and returned to service. The entrapment that occurred on 6/8/19 was the result of debris in the door sill in the top landing. The debris was removed; the elevator was tested and returned to service.",
 'The entrapment that occurred on 6/15/19 was the result of a paper cup stuck in the door sill. The paper cup was removed; the elevator was tested and returned to service. The entrapment that occurred on 6/23/19 was the result of debris (cigarette box) in the door sill that prevented the doors from opening. The debris was removed; the elevator was tested and returned to service.',
 'The entrapment that occurred on 4/16/19 was the result of the doors not opening correctly. The doors were tested, but the fault could not be duplicated. The elevator was tested and returned to service.',
 'The entrapment that occurred on 4/11/19 was the result of the hoistway doors not operating correctly. The hoistway door tracks were adjusted, the hoistway doors were adjusted. The hoistway door gib were replaced and the interlocks were also replaced; the elevator was tested and returned to service. The entrapment that occurred on 6/14/19 was the result of the valve body screens being clogged. The screens were cleaned; the elevator was tested and returned to service.',
 'The entrapment that occurred on 4/8/19 was the result of the doors not operating correctly. The car door restrictor was adjusted, and the oil was also allowed to cool off due to overheating. The elevator was tested and returned to service. The entrapment that occurred on 4/17/19 was the result of the controller door relay not operating correctly. The door relay identified as "DRX" was replaced. The elevator was tested and returned to service. The entrapment that occurred on 5/10/19 was the result of the soft starter not operating correctly. The soft starter wiring was checked and secured, the oil was allowed to cool off; the elevator was tested and returned to service.',
 'The entrapment that occurred on 4/2/19 was the result of the doors not operating correctly. The hoistway hanger rollers were adjusted and the door buck was aligned; the elevator was tested and returned to service.',
 'The entrapment that occurred on 5/12/19 was the result of water getting on top of the elevator cab. The water was removed from the top of the elevator cab; the elevator was tested and returned to service.',
 'The entrapment that occurred on 4/2/19 was the result of the uninterrupted power supply not operating. The uninterrupted power supply was replaced; the elevator was tested and returned to service. The entrapment that occurred on 4/24/19 was the result of the oil cooler not working, allowing the hydraulic fluid to overheat. The oil cooler circuit breaker and wiring were repaired; the elevator was tested and returned to service.',
 'The entrapment that occurred on 4/29/19 was the result of a loose car door gate switch. The car gate switch was secured, and various defective relays were also replaced on the controller. The elevator was tested and returned to service. The entrapment that occurred on 5/6/19 was the result of a safety circuit opening. The elevator was tested and the fault could not be duplicated; the elevator was tested and returned to service. The entrapment that occurred on 5/6/19 was the result of the valve body not operating correctly. The valve body was adjusted and the uninterrupted power supply back up was replaced; the elevator was tested and returned to service. the entrapment that occurred on 5/18/19 was the result of a glass panel switch relay not operating correctly. The glass panel switch relay was replaced; the elevator was tested and returned to service.',
 'The entrapment that occurred on 5/24/19 was the result of the release rollers at the upper landing not operating correctly. The upper landing release rollers were adjusted; the elevator was tested and returned to service.',
 'The entrapment that occurred on 4/8/19 was the result of the door operator fuse blowing due to a defective hoistway door contact that was bent. The fuse was replaced, the hoistway door contact was replaced and adjusted; the elevator was tested and returned to service. The entrapment that occurred on 4/10/19 was the result of the car doors not closing correctly. The door operator cam was adjusted; the elevator was tested and returned to service.',
 'The entrapment that occurred on 4/3/19 was the result of debris (a screw) stuck in the door sill that prevented the doors from operating correctly. The debris was removed; the elevator was tested and returned to service.',
 'The cause of two entrapment that occurred on 5/18/19 and 5/19/19 could not be determined. The elevator was tested and returned to service. The entrapment that occurred on 5/20/19 was the result of the door zone in the selector unit not operating correctly which did not allow the doors to open. The door zone sensor was cleaned and adjusted; the elevator was tested and returned to service. The entrapment that occurred on 5/28/19 was the result of the doors not opening. The fault could not be duplicated; the elevator was tested and returned to service.',
 'The cause of the entrapment that occurred on 6/28/19 could not be determined. The elevator was tested and returned to service.']

In [142]:
df_output = pd.DataFrame(
    {'unit': units,
     'station': stations,
     'line': lines,
     'entrapments' : entrapments,
     'comments' : entrapment_detail
    })

In [143]:
df_output

,unit,station,line,entrapments,comments
0,EL121,Pelham Bay Park,6,1,The entrapment that occurred on 4/9/19 was the...
1,EL122,Pelham Bay Park,6,2,The entrapment that occurred on 4/15/19 was th...
2,EL127,Simpson St,25,2,The entrapment that occurred on 6/15/19 was th...
3,EL128,Simpson St,25,1,The entrapment that occurred on 4/16/19 was th...
4,EL129,3 Av-149 St,25,2,The entrapment that occurred on 4/11/19 was th...
5,EL130,3 Av-149 St,25,3,The entrapment that occurred on 4/8/19 was the...
6,EL132,161 St-Yankee Stadium,4,1,The entrapment that occurred on 4/2/19 was the...
7,EL136,Pelham Pkwy,25,1,The entrapment that occurred on 5/12/19 was th...
8,EL183,Gun Hill Rd,25,2,The entrapment that occurred on 4/2/19 was the...
9,EL188,Fordham Rd,4,4,The entrapment that occurred on 4/29/19 was th...
10,EL189,Kingsbridge Rd,BD,1,The entrapment that occurred on 5/24/19 was th...
11,EL192,233 St,25,2,The entrapment that occurred on 4/8/19 was the...
12,EL193,233 St,25,1,The entrapment that occurred on 4/3/19 was the...
13,EL195,Hunts Point Av,6,4,The cause of two entrapment that occurred on 5...
14,EL197,Hunts Point Av,6,1,The cause of the entrapment that occurred on 6...